How many transactions were made each month?

In [1]:
#Import important Libraries

import pandas as pd 
import numpy as np

#Import the Data 


money_data = pd.read_csv("Money.csv")

money_data.head(3)

,MERCHANT_CATEGORIZED_AT,HOURS,MONTHS,MINUTES,YEAR,MERCHANT_NAME,MERCHANT_CATEGORIZED_AS,PURCHASE_VALUE,PURCHASED_AT,IS_PURCHASE_PAID_VIA_MPESA_SEND_MONEY,USER_AGE,USER_GENDER,USER_HOUSEHOLD,USER_INCOME,USER_ID,Transaction_ID
0,2022-05-04 10:25:50.588042+00,10,5,25,2022,UONSDA CHURCH MOGERE MWAYO TITHE,Rent / Mortgage,1700,2022-05-04 13:56:00+00,False,NaN,Male,3,10000,ID_ZX4DCF4K,ID_04mk78fa
1,2021-10-25 16:18:38.586837+00,16,10,18,2021,PARK N GO,Transport & Fuel,100,2021-10-24 14:12:00+00,False,25.0,Female,4,90000,ID_U9WZMGJZ,ID_04xkfb07
2,2022-05-20 14:17:30.917297+00,14,5,17,2022,SAFARICOM OFFERS TUNUKIWA,Data & WiFi,20,2022-05-27 12:46:00+00,False,NaN,Male,3,10000,ID_ZX4DCF4K,ID_051urwuw

In [7]:
#PULL the data to be used
# We want to count the number of transactions made per month

# Group the transactions by MONTHS, use the USER_ID to count the transactions made per month

No_of_transactions = money_data.groupby("MONTHS")["USER_ID"].count()

No_of_transactions

MONTHS
1      1
2      6
3     87
4     90
5     59
6     24
8     13
9     33
10    38
11     9
12    13
Name: USER_ID, dtype: int64